---
import Title from "@components/Title.astro";

import ChangNailsLogo from "@assets/images/changNailsLogo.png";
import GNailsLogo from "@assets/images/gNailsLogo.png";
import KimsanguLogo from "@assets/images/kimsanguLogo.png";
import LaniSpaLogo from "@assets/images/laniSpaLogo.png";
import LizSpaLogo from "@assets/images/lizSpaLogo.png";
import RakuSpaLogo from "@assets/images/rakuSpaLogo.png";
import LeftArrowIcon from "@assets/svgs/leftArrow.svg?raw";
import RightArrowIcon from "@assets/svgs/rightArrow.svg?raw";
import { Image } from "astro:assets";

const columns = [
  [
    {
      content:
        "Chuyển sang BeautyBooking là một trong những quyết định tốt nhất mà tôi đã đưa ra cho doanh nghiệp làm đẹp của mình. Sự linh hoạt và khả năng mở rộng của nền tảng đã cho phép tôi thích ứng với các điều kiện thị trường thay đổi và dẫn đầu trong cuộc cạnh tranh.",
      img: LaniSpaLogo,
      owner: "Ms.Thanh Thảo",
      role: "Manager of Lani Spa",
    },
    {
      content:
        "Nhờ BeautyBooking, tôi có thể tập trung nhiều hơn vào việc cung cấp dịch vụ xuất sắc cho khách hàng của mình và ít hơn vào các nhiệm vụ hành chính. Các tính năng tự động hóa của nền tảng này đã tiết kiệm cho tôi hàng giờ không đếm được và giúp tôi duy trì sự sắp xếp.",
      img: GNailsLogo,
      owner: "Mr.Ngọc Sang",
      role: "Founder of Tiệm nhà Giang G-Nails",
    },
  ],
  [
    {
      content:
        "BeautyBooking đã vượt xa mong đợi của tôi ở mọi mặt. Nó dễ sử dụng, đáng tin cậy và đã tạo ra một ảnh hưởng lớn đối với doanh thu của salon của tôi.",
      img: ChangNailsLogo,
      owner: "Mr.Gino Phạm",
      role: "Manager of Chang Nails",
    },
    {
      content:
        "Là chủ cửa hàng làm đẹp, BeautyBooking giúp tôi tối ưu hóa hoạt động kinh doanh và phát triển doanh nghiệp của mình. Từ việc quản lý cuộc hẹn đến theo dõi hàng tồn kho, nền tảng này có tất cả những gì tôi cần để thành công trong ngành công nghiệp làm đẹp cạnh tranh.",
      img: KimsanguLogo,
      owner: "Ms. Uyên Đỗ",
      role: "Manager of Dưỡng sinh Kim Sa Ngư",
    },
  ],
  [
    {
      content:
        "Tôi thích cách BeautyBooking đơn giản hóa quy trình đặt lịch cho các dịch vụ làm đẹp của mình. Khách hàng của tôi đánh giá cao sự tiện lợi khi đặt lịch trực tuyến, và tôi đã thấy một sự tăng đáng kể trong số lượng đặt lịch kể từ khi bắt đầu sử dụng nền tảng này.",
      img: RakuSpaLogo,
      owner: "Mr.Ngọc Trai",
      role: "Manager of Rakuspa",
    },
    {
      content:
        "BeautyBooking đã thay đổi cách tôi quản lý các cuộc hẹn tại salon của mình. Với giao diện thân thiện với người dùng và các tính năng mạnh mẽ, tôi có thể dễ dàng đặt lịch hẹn, theo dõi sở thích của khách hàng và tăng cường hiệu suất của salon của tôi. Highly Recommend!!!!!!",
      img: LizSpaLogo,
      owner: "Ms.Bảo Trâm",
      role: "Manager of Liz Nailroom",
    },
  ],
];
---

<div class="text-center mt-28 md:mt-60">
  <div class="px-5 md:px-20">
    <Title className="md:text-center">Khách hàng nói gì?</Title>

    <p class="mt-4 mb-[2.62rem] text-title text-opacity-semi">
      Khách hàng hài lòng, nhưng...<br />
       BeautyBooking chưa bao giờ ngừng cố gắng
    </p>
  </div>

  <div class="relative px-5 mx-auto mt-[2.62rem] md:mt-16 md:px-0">
    <div class="review-slide">
      {
        columns.map((column) => (
          <div class="flex flex-col gap-5">
            {column.map(({ content, img, owner, role }) => (
              <div class="review">
                <div>{content}</div>

                <div class="flex items-center gap-2 relative mt-11 text-sub-header">
                  <div class="w-12 h-12">
                    <Image src={img} alt={owner} />
                  </div>

                  <div>
                    <p class="text-opacity-semi">{owner}</p>
                    <p class="text-opacity-neutral">{role}</p>
                  </div>
                </div>
              </div>
            ))}
          </div>
        ))
      }
    </div>

    <div class="flex items-center gap-3 md:bottom-0 md:hidden">
      <div
        class="hidden cursor-pointer p-3 rounded-full border-[1.5px] border-solid border-grey-400 md:block"
      >
        <Fragment set:html={LeftArrowIcon} />
      </div>

      <div class="flex gap-2">
        {
          columns.map((_, idx) => {
            const activeClassName =
              idx === 2 ? "bg-primary-600" : "bg-primary-300";
            return (
              <div
                class={`cursor-pointer w-10 h-2 rounded ${activeClassName}`}
              />
            );
          })
        }
      </div>

      <div
        class="hidden cursor-pointer p-3 rounded-full border-[1.5px] border-solid border-grey-400 md:block"
      >
        <Fragment set:html={RightArrowIcon} />
      </div>
    </div>
  </div>
</div>

<style>
  .review-slide {
    @apply max-w-7xl m-auto grid md:grid-cols-1 xl:grid-cols-3 gap-5;
  }
  .review-slide .review {
    @apply relative inline-block bg-white rounded-3xl pt-10 pb-8 px-8 w-[25.75rem] h-fit text-left text-title shadow-md;
  }
</style>
