---
import Container from "@components/Container.astro";
import Title from "@components/Title.astro";

import TickIcon from "@assets/svgs/partnership/tick.svg?raw";

const plans = [
  {
    name: "TRẢI NGHIỆM",
    price: "1.600.000đ",
    discountPrice: "1.000.000đ",
    happening: "Tổng 45 ngày, 15 ngày miễn phí",
    context:
      "Hoàn hảo với cửa hàng muốn trải nghiệm ngắn hạn để tham khảo lợi ích của BB.",
    includeList: [
      {
        title: "Hệ thống quản lý lịch hẹn linh hoạt",
        description:
          "Hệ thống lịch thông minh giúp quản lý khung giờ trống hiệu quả. Giảm tỷ lệ khách chờ đợi.",
      },
      {
        title: "Tối ưu & giảm chi phí quản lý",
        description:
          "Hệ thống CMS mạnh mẽ trên mọi nền tảng giúp chủ cửa hàng luôn nắm rõ tình hình kinh doanh",
      },
      {
        title: "Tăng độ nhận diện thương hiệu",
        description:
          "Hiển thị cửa hàng trên ứng dụng đặt hẹn của BeautyBooking.",
      },
      {
        title: "Hỗ trợ trực tiếp 24/7/365",
        description:
          "Hỗ trợ tư vấn, setup cửa hàng. Luôn luôn có mặt & xử lý mọi vấn đề của bạn.",
      },
    ],
  },
  {
    name: "BỀN VỮNG",
    price: "12.000.000đ",
    discountPrice: "6.000.000đ",
    isBestPrice: true,
    happening: "Tổng 545 ngày, 180 ngày miễn phí",
    context:
      "Lựa chọn tốt nhất cho cửa hàng phát triển lâu dài, tiết kiệm tối đa chi phí ban đầu.",
    includeList: [
      {
        title: "Hệ thống quản lý lịch hẹn linh hoạt",
        description:
          "Hệ thống lịch thông minh giúp quản lý khung giờ trống hiệu quả. Giảm tỷ lệ khách chờ đợi.",
      },
      {
        title: "Tối ưu & giảm chi phí quản lý",
        description:
          "Hệ thống CMS mạnh mẽ trên mọi nền tảng giúp chủ cửa hàng luôn nắm rõ tình hình kinh doanh",
      },
      {
        title: "Tăng độ nhận diện thương hiệu",
        description:
          "Hiển thị cửa hàng trên ứng dụng đặt hẹn của BeautyBooking.",
      },
      {
        title: "Hỗ trợ trực tiếp 24/7/365",
        description:
          "Hỗ trợ tư vấn, setup cửa hàng. Luôn luôn có mặt & xử lý mọi vấn đề của bạn.",
      },
    ],
  },
  {
    name: "ỔN ĐỊNH",
    price: "6.000.000đ",
    discountPrice: "4.500.000đ",
    happening: "Tổng 270 ngày, 90 ngày miễn phí",
    context:
      "Lý tưởng cho các doanh nghiệp tìm kiếm sự ổn định & tăng nhận diện thương hiệu",
    includeList: [
      {
        title: "Hệ thống quản lý lịch hẹn linh hoạt",
        description:
          "Hệ thống lịch thông minh giúp quản lý khung giờ trống hiệu quả. Giảm tỷ lệ khách chờ đợi.",
      },
      {
        title: "Tối ưu & giảm chi phí quản lý",
        description:
          "Hệ thống CMS mạnh mẽ trên mọi nền tảng giúp chủ cửa hàng luôn nắm rõ tình hình kinh doanh",
      },
      {
        title: "Tăng độ nhận diện thương hiệu",
        description:
          "Hiển thị cửa hàng trên ứng dụng đặt hẹn của BeautyBooking.",
      },
      {
        title: "Hỗ trợ trực tiếp 24/7/365",
        description:
          "Hỗ trợ tư vấn, setup cửa hàng. Luôn luôn có mặt & xử lý mọi vấn đề của bạn.",
      },
    ],
  },
];
---

<div class="mt-32 md:mt-44 xl:mt-52">
  <div class="px-5">
    <Title className="md:text-center">Trở thành đối tác</Title>

    <p class="mt-4 mb-11 text-title text-center text-opacity-semi">
      Không chỉ là 1 hệ thống quản lý thông minh,<br
        class="hidden md:block"
      />BB còn là 1 người bạn đồng hành cùng phát triển với doanh nghiệp
    </p>
  </div>

  <div class="plans">
    {
      plans.map((plan) => (
        <div
          class="planning"
          style={
            plan?.isBestPrice
              ? "background: linear-gradient(180deg, #7F55F1 0%, #5A39F0 100%);"
              : ""
          }
        >
          <div class="px-8 py-6 rounded-3xl h-full bg-white">
            <div class="flex justify-between">
              <p class="text-title font-bold text-dark">{plan.name}</p>
              {plan?.isBestPrice && (
                <p
                  class="text-tiny px-3 py-2 rounded-2xl text-white font-bold"
                  style="background: linear-gradient(180deg, #7F55F1 0%, #5A39F0 100%)"
                >
                  GIÁ TỐT NHẤT
                </p>
              )}
            </div>
            <p class="text-caption text-opacity-neutral mt-1 mb-4">
              {plan.happening}
            </p>
            <p class="text-h2 text-primary-800 font-semibold">
              {plan.discountPrice}
            </p>
            <del class="text-title text-primary-400 font-semibold">
              {plan.price}
            </del>
            <p class="mt-1 mb-4">{plan.context}</p>
            <button
              class={`bb-chat-visible py-[0.94125rem] w-full border border-primary-500 text-primary-700 text-sub-header rounded-lg hover:bg-primary-600 hover:text-white md:rounded-2xl ${
                plan?.isBestPrice ? "bg-primary-600 text-white" : ""
              }`}
            >
              Liên hệ dùng thử
            </button>

            <div class="flex flex-col gap-y-4 pt-6 mt-6 border-t border-grey-400">
              {plan.includeList.map((include) => (
                <div class="flex gap-x-2">
                  <span>
                    <Fragment set:html={TickIcon} />
                  </span>

                  <div>
                    <p class="text-sub-header text-opacity-semi">
                      {include.title}
                    </p>
                    <p class="text-paragraph text-opacity-neutral">
                      {include.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>

<style>
  .plans {
    @apply flex gap-4 snap-x snap-mandatory scroll-px-4 overflow-auto xl:justify-center;
    @apply px-4 pb-4 lg:px-5;
  }

  .plans .planning {
    @apply shadow-md max-w-[410px] snap-center cursor-pointer bg-transparent xs:min-w-[23.75rem];

    padding: 2px;
    border-radius: 26px;
  }

  .plans .planning:hover {
    background: linear-gradient(180deg, #7f55f1 0%, #5a39f0 100%);
  }

  .plans .planning:hover button {
    @apply bg-primary-600 text-white;
  }
</style>

<script>
  const onScrollToShowCenterElm = () => {
    const container = document.querySelector<HTMLDivElement>(".plans");
    const middleElm = container.children[
      Math.floor((container.children.length - 1) / 2)
    ] as HTMLDivElement;
    const scrollLeft =
      middleElm.offsetLeft +
      middleElm.offsetWidth / 2 -
      container.offsetWidth / 2;

    container.scrollTo({
      left: scrollLeft,
      behavior: "smooth",
    });
  };

  onScrollToShowCenterElm();

  window.addEventListener("resize", onScrollToShowCenterElm);
</script>
