---
import { Image } from "astro:assets";

import Container from "@components/Container.astro";
import DownloadOn from "@components/DownloadOn.astro";
import Title from "@components/Title.astro";

import IncomeBookingImg from "@assets/images/incomeBooking.png";
import UserHeroImg from "@assets/images/userHero.png";
import ArrowDownIcon from "@assets/svgs/arrowDown.svg";
import StarIcon from "@assets/svgs/star.svg?raw";
import InfoIcon from "@assets/svgs/info.svg?raw";

const days = ["Chủ nhật", "Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7"];

const statistics = [
  {
    title: "1,000+",
    description: "Dịch vụ",
  },
  {
    title: "100+",
    description: "Cơ sở",
  },
  {
    description: "80+ Đánh giá",
  },
];

const today = `${days[new Date().getDay()]}, ${new Date().toLocaleDateString(
  "en-GB",
)}`;

const lastIdx = statistics.length - 1;
---

<Container className="mt-12 xl:mt-[5.5rem]">
  <div
    class="flex flex-col justify-between items-center md:flex-row md:gap-5 md:pb-24 xl:gap-28"
  >
    <div
      class="relative flex flex-col px-5 md:px-0 md:min-w-[22.5rem] md:max-w-[50%] xl:max-w-[calc(50%-3.5rem)]"
    >
      <Title size="large" className="!font-bold">
        Đặt hẹn & Tận hưởng<br class="hidden xl:block" /> với BeautyBooking
      </Title>

      <div class="mt-3 md:mt-4">
        <p class="text-title text-opacity-semi text-center md:text-left">
          Không còn những lần đợi chờ, những trải nghiệm dịch vụ không như mong
          đợi. Tải BeautyBooking & đặt lịch làm đẹp ngay hôm nay, những gì bạn
          cần làm là tận hưởng.
        </p>

        <div class="mt-8 md:mt-6 xl:mt-11">
          <p
            class="hidden text-caption text-opacity-neutral font-semibold md:block"
          >
            TẢI NGAY
          </p>

          <DownloadOn className="mt-3 md:justify-start" />
        </div>

        <div class="w-full flex mt-6 gap-6 md:gap-7 xl:gap-8">
          {
            statistics.map(({ title, description }, idx) => (
              <div class="flex items-center gap-6 mx-auto md:mx-0 md:gap-7 xl:gap-8">
                <div>
                  <h5 class="md:text-title xl:text-h5">{title}</h5>
                  {idx === lastIdx && (
                    <div class="flex">
                      <Fragment set:html={StarIcon} />
                      <Fragment set:html={StarIcon} />
                      <Fragment set:html={StarIcon} />
                      <Fragment set:html={StarIcon} />
                      <Fragment set:html={StarIcon} />
                    </div>
                  )}
                  <p class="text-opacity-neutral text-paragraph">
                    {description}
                  </p>
                </div>

                {idx !== lastIdx && (
                  <svg
                    width="10"
                    height="30"
                    viewBox="0 0 10 30"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      y="4.34589"
                      width="10"
                      height="1.5"
                      transform="rotate(-20 0 4.34589)"
                      fill="#C9CED6"
                    />
                    <rect
                      y="10.1756"
                      width="10"
                      height="1.5"
                      transform="rotate(-20 0 10.1756)"
                      fill="#C9CED6"
                    />
                    <rect
                      y="16.0054"
                      width="10"
                      height="1.5"
                      transform="rotate(-20 0 16.0054)"
                      fill="#C9CED6"
                    />
                    <rect
                      y="21.8351"
                      width="10"
                      height="1.5"
                      transform="rotate(-20 0 21.8351)"
                      fill="#C9CED6"
                    />
                    <rect
                      y="27.6648"
                      width="10"
                      height="1.5"
                      transform="rotate(-20 0 27.6648)"
                      fill="#C9CED6"
                    />
                  </svg>
                )}
              </div>
            ))
          }
        </div>
      </div>
    </div>

    <div class="relative">
      <div class="hidden md:block absolute z-10 -left-16 -top-16">
        <svg
          width="123"
          height="119"
          viewBox="0 0 123 119"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M25.223 6.92011C26.3715 14.5651 36.6241 31.2609 47.8137 43.7066C62.4755 60.0133 90.9802 78.7512 115.597 88.2638C123.705 91.3971 126.041 88.5713 118.091 85.2493C78.1887 68.5736 46.1148 41.9948 32.6205 14.4207C30.3921 9.86886 28.5694 4.8823 28.5694 3.33785C28.5694 1.79483 27.5999 0.532104 26.4172 0.532104C24.9944 0.532104 24.5906 2.70005 25.223 6.92011ZM0 28.1491C0 30.0167 9.60884 42.8371 16.2769 49.8686C38.2049 72.9867 86.0758 100.825 109.992 104.366C114.032 104.964 116.182 104.724 116.182 103.674C116.182 102.789 114.996 102.065 113.546 102.065C112.095 102.065 104.168 99.5068 95.9284 96.3793C60.5119 82.9384 21.3128 54.7822 8.75747 33.7663C6.76523 30.4315 3.98067 27.7029 2.56744 27.7029C1.15611 27.7029 0 27.9031 0 28.1491ZM9.52313 70.4484C9.52313 73.6202 23.2498 86.2475 33.409 92.421C52.3906 103.959 101.002 121.185 105.352 117.919C106.651 116.943 105.781 116.055 102.684 115.193C100.157 114.489 93.1419 112.539 87.0966 110.859C72.4272 106.78 58.4358 101.386 45.711 94.8992C34.8756 89.3778 19.3301 77.7773 15.4294 72.3031C13.2067 69.1842 9.52313 68.0273 9.52313 70.4484Z"
            fill="black"
            fill-opacity="0.224"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M25.7163 6.00059C28.2437 21.0404 50.9278 48.9005 73.5757 64.7811C90.8278 76.8778 126.039 93.954 120.927 87.7447C120.27 86.9468 116.455 85.0377 112.447 83.5032C98.7377 78.2521 73.9223 63.0407 62.1956 52.6987C48.9641 41.0324 36.3384 24.9129 31.3616 13.3324C26.0362 0.948248 24.5411 -0.996614 25.7163 6.00059ZM1.90463 29.1902C1.90463 34.7445 26.7067 60.817 41.4275 70.7387C58.5482 82.2763 78.6496 93.1331 92.3744 98.2556C108.4 104.236 114.278 105.667 114.278 103.591C114.278 102.752 113.182 102.065 111.843 102.065C106.57 102.065 82.057 92.0177 67.5304 83.9022C39.9019 68.4663 20.0462 51.792 7.84706 33.7806C3.76926 27.7601 1.90463 26.3186 1.90463 29.1902ZM12.4924 73.6273C17.1207 80.3471 30.1159 90.336 42.3398 96.5695C61.8127 106.497 101.052 119.622 104.198 117.259C104.804 116.805 103.676 116.004 101.694 115.479C58.3254 104.006 27.7199 89.3321 16.8369 74.7928C11.8772 68.1674 8.02038 67.1335 12.4924 73.6273Z"
            fill="black"
            fill-opacity="0.859"></path>
        </svg>
      </div>

      <div class="relative">
        <Image
          src={UserHeroImg}
          alt="user-hero"
          class="mt-12 md:mt-0 md:rounded-3xl"
        />

        <div class="income-booking">
          <div class="flex gap-x-3">
            <Image
              src={IncomeBookingImg}
              alt="income-booking"
              class="max-w-[7rem]"
            />

            <div class="w-full">
              <div class="flex justify-between text-tiny">
                <div class="text-opacity-semi">
                  <p class="font-bold">12:00 - 14:45</p>
                  <p class="font-bold">{today}</p>
                </div>

                <div
                  class="py-0.5 px-2 rounded-md bg-primary-200 text-primary-800 h-fit"
                >
                  ĐÃ XÁC NHẬN
                </div>
              </div>

              <div class="h-[1px] w-8 bg-primary-200 my-2"></div>

              <div>
                <p class="text-base">Luxe Nails & Salon</p>
                <p class="text-tiny text-opacity-neutral">
                  375 Nguyễn Thượng Hiền, Phường 11, Quận 10, Thành phố Hồ Chí
                  Minh
                </p>
              </div>

              <div class="collapsible">
                <div class="flex items-center justify-between mt-4">
                  <p class="text-caption font-semibold text-primary-600">
                    Đã đặt 2 dịch vụ
                  </p>

                  <button class="bg-white rounded-full p-1">
                    <Image src={ArrowDownIcon} alt="collapse" />
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="booking">
            <p class="detail title">
              <span>DỊCH VỤ</span>
              <span>SỐ TIỀN</span>
            </p>

            <p class="detail row">
              <span>Phun Mí Mắt Makeup Hàn Quốc</span>
              <span>400,000 đ</span>
            </p>

            <p class="detail row">
              <span>Điều trị mụn an toàn - triệt để bằng ánh sinh học</span>
              <span>320,000 đ</span>
            </p>

            <div class="h-[1px] w-full bg-grey-400 my-3"></div>

            <p class="detail text-caption">
              <span class="text-opacity-neutral">Tạm tính</span>
              <span class="text-opacity-neutral">720,000 đ</span>
            </p>

            <div class="detail mt-2 text-caption">
              <p class="flex items-center gap-1">
                <Fragment set:html={InfoIcon} />

                <span class="text-primary-600"
                  >Giảm giá 10% cho booking đầu tiên</span
                >
              </p>

              <span class="text-primary-600">-72,000 đ</span>
            </div>

            <div class="h-[1px] w-full bg-grey-400 my-3"></div>

            <p class="detail">
              <span class="text-sub-header font-semibold">Tổng tiền</span>
              <span class="text-sub-header font-semibold">648,000 đ</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Container>

<style>
  svg path {
    @apply fill-transparent stroke-black;

    stroke-width: 0.1px;
    animation: drawing 3s linear forwards;
  }

  svg path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }

  @keyframes drawing {
    to {
      @apply fill-black stroke-none;

      stroke-dashoffset: 0;
    }
  }

  .income-booking {
    @apply absolute bottom-6 left-6 p-4 bg-white rounded-xl;
    @apply cursor-pointer bg-opacity-80 hover:bg-opacity w-[calc(100%-3rem)] lg:max-w-[23.375rem];
  }

  .income-booking:hover button {
    @apply bg-primary-200;
  }

  .income-booking .booking {
    @apply h-0 overflow-hidden transition-all duration-300 ease-in-out;
  }

  .income-booking .booking .detail {
    @apply flex justify-between;
  }

  .income-booking .detail.title span {
    @apply text-tiny font-bold text-opacity-neutral;
  }

  .income-booking .detail.row {
    @apply mt-2;
  }

  .income-booking .detail.row span {
    @apply text-base;
  }

  .income-booking .detail * {
    @apply first:max-w-[14.75rem];
  }
</style>

<script>
  import ArrowUpIcon from "@assets/svgs/arrowUp.svg";
  import ArrowDownIcon from "@assets/svgs/arrowDown.svg";

  const collapse = document.querySelector<HTMLDivElement>(".collapsible");

  const booking = document.querySelector<HTMLDivElement>(".booking");
  const collapseBtn = collapse.querySelector("button");
  const collapseImg = collapse.querySelector("img");

  collapseBtn.addEventListener("click", () => {
    if (booking.clientHeight) {
      booking.style.height = "0";
      booking.style.marginTop = "0";

      collapseImg.setAttribute("src", ArrowDownIcon.src);
    } else {
      booking.style.height = `${booking.scrollHeight}px`;
      booking.style.marginTop = "2.5rem";

      collapseImg.setAttribute("src", ArrowUpIcon.src);
    }
  });
</script>
