---
import { Image } from "astro:assets";

import Container from "@components/Container.astro";
import Title from "@components/Title.astro";

import AndiBeautyImg from "@assets/images/andiBeauty.png";
import OppaBeautyImg from "@assets/images/oppaBeauty.png";
import LasolBeautyImg from "@assets/images/lasolBeauty.png";
import StarIcon from "@assets/svgs/star.svg?raw";
import LeftArrowIcon from "@assets/svgs/leftArrow.svg?raw";
import RightArrowIcon from "@assets/svgs/rightArrow.svg?raw";

const serviceNames = [
  "Spa Center",
  "Massage Center",
  "Nail Salon",
  "Hair Salon",
  "Dental Clinic",
  "Beauty Clinic",
];

const partners = [
  {
    name: "An Di Beauty",
    image: AndiBeautyImg,
    address: "32 Đặng Văn Ngữ, P.12, Q.10, HCM",
    rating: "(48 nhận xét )",
  },
  {
    name: "Oppa Beauty Nails - Hoa Cúc",
    image: OppaBeautyImg,
    address: "39 Hoa Cúc, P.7, Phú Nhuận, HCM",
    rating: "(48 nhận xét )",
  },
  {
    name: "Lasol Beauty Clinic",
    image: LasolBeautyImg,
    address: "32 Đặng Văn Ngữ, P.12, Q.10, HCM",
    rating: "(48 nhận xét )",
  },
  {
    name: "JM Beauty Lounge",
    image: AndiBeautyImg,
    address: "1741 Lý Tự Trọng, P.Bến Thành, Q.1, HCM",
    rating: "(48 nhận xét )",
  },
  {
    name: "JM Beauty Lounge",
    image: AndiBeautyImg,
    address: "1741 Lý Tự Trọng, P.Bến Thành, Q.1, HCM",
    rating: "(48 nhận xét)",
  },
  {
    name: "Oppa Beauty Nails - Hoa Cúc",
    image: OppaBeautyImg,
    address: "39 Hoa Cúc, P.7, Phú Nhuận, HCM",
    rating: "(48 nhận xét )",
  },
  {
    name: "Lasol Beauty Clinic",
    image: LasolBeautyImg,
    address: "32 Đặng Văn Ngữ, P.12, Q.10, HCM",
    rating: "(48 nhận xét )",
  },
  {
    name: "JM Beauty Lounge",
    image: AndiBeautyImg,
    address: "1741 Lý Tự Trọng, P.Bến Thành, Q.1, HCM",
    rating: "(48 nhận xét )",
  },
];
---

<Container className="mt-32 px-5 md:mt-44 xl:mt-64">
  <div class="text-center xl:text-left">
    <Title centered className="xl:text-left">Đối tác của BeautyBooking</Title>
    <p class="text-title mt-4 text-opacity-semi">
      Hơn 100 cửa hàng đã tin tưởng BeautyBooking
    </p>
  </div>

  <div class="relative flex items-start my-8">
    <div class="service-names">
      {
        serviceNames.map((name, idx) => (
          <div class="service-name" data-idx={idx}>
            {name}
          </div>
        ))
      }
    </div>

    <div class="hidden lg:flex lg:gap-3 lg:absolute lg:right-0 lg:-top-0.5">
      <div class="prev">
        <Fragment set:html={LeftArrowIcon} />
      </div>

      <div class="next">
        <Fragment set:html={RightArrowIcon} />
      </div>
    </div>
  </div>

  <div class="relative">
    <div class="partner-slide">
      {
        partners.map(({ name, image, address, rating }) => (
          <div class="partner">
            <Image src={image} alt="Partner" class="rounded-t-3xl" />

            <div class="px-5 py-4">
              <h5 class="text-title text-opacity-pure">{name}</h5>
              <p class="text-sub-header text-opacity-neutral mt-1 mb-3">
                {address}
              </p>
              <div class="flex items-center gap-1 text-sub-header">
                <Fragment set:html={StarIcon} />
                <span>4.5</span>
                <p class="text-opacity-neutral">{rating}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Container>

<style>
  .service-names {
    @apply relative flex whitespace-nowrap gap-3 xl:flex-wrap;
    @apply overflow-auto snap-x snap-mandatory w-full xl:snap-none xl:overflow-visible;

    @media screen and (min-width: 1024px) {
      max-width: calc(100% - 8rem);
    }
  }
  .service-name {
    @apply cursor-pointer px-4 py-[0.81rem] rounded-lg text-opacity-semi text-paragraph bg-grey-300;
    @apply snap-start;
  }

  .service-name.active {
    @apply bg-primary-700 text-white;
  }

  .prev,
  .next {
    @apply cursor-pointer p-2.5 rounded-full border-[1.5px] border-solid border-grey-400 shadow-xs;
  }

  .prev:hover,
  .next:hover {
    @apply border-grey-700;
  }

  .partner-slide {
    @apply relative whitespace-nowrap py-4 px-2 transition-all ease-linear duration-300;
    @apply overflow-auto snap-x snap-mandatory scroll-px-1 xl:overflow-hidden xl:snap-none;
  }

  .partner-slide .partner {
    @apply cursor-pointer w-[23.75rem] h-[26.25rem] rounded-3xl shadow-md bg-white inline-block ml-6 snap-start xl:first:ml-0 xl:mr-0;
  }
</style>

<script>
  // Handle select services
  const services = document.querySelector<HTMLDivElement>(".service-names");
  services.addEventListener("click", (evt) => {
    const serviceNameElm = evt.target as Element;
    if (serviceNameElm.classList.contains("active")) {
      serviceNameElm.classList.remove("active");
    } else {
      serviceNameElm.classList.add("active");
    }
  });
  // Handle slideshow
  const prevButton = document.querySelector<HTMLDivElement>(".prev");
  const nextButton = document.querySelector<HTMLDivElement>(".next");
  const partnerSlide = document.querySelector<HTMLDivElement>(".partner-slide");

  const itemW = 404;
  const step = 8;

  const sideScroll = (
    element: HTMLDivElement,
    direction: "left" | "right",
    distance: number,
    step: number,
  ) => {
    let scrollAmount = 0;
    let scrollLeft = element.scrollLeft;
    const scrolledLeft = scrollLeft;
    const maxScrollLeft = element.scrollWidth - element.clientWidth;

    const slideTimer = setInterval(() => {
      if (direction === "right") {
        scrollLeft += step;
      } else {
        scrollLeft -= step;
      }

      scrollAmount += step;

      if (scrollAmount > distance) {
        if (direction === "right") {
          scrollLeft = scrolledLeft + distance;
        }

        if (direction === "left") {
          scrollLeft = scrolledLeft - distance;
        }
      }

      element.scrollLeft = scrollLeft;

      if (
        scrollAmount >= distance ||
        scrollLeft <= 0 ||
        scrollLeft >= maxScrollLeft
      ) {
        window.clearInterval(slideTimer);
      }
    }, 0);
  };

  const prev = () => {
    const isToLeft = partnerSlide.scrollLeft === 0;
    if (isToLeft) return;

    sideScroll(partnerSlide, "left", itemW, step);
  };

  const next = () => {
    const isToRight =
      partnerSlide.scrollLeft ===
      partnerSlide.scrollWidth - partnerSlide.clientWidth;
    if (isToRight) return;

    sideScroll(partnerSlide, "right", itemW, step);
  };

  prevButton.addEventListener("click", prev);

  nextButton.addEventListener("click", next);
</script>
