---
import { Image } from "astro:assets";

import AndiBeautyImg from "@assets/images/andiBeauty.png";
import OppaBeautyImg from "@assets/images/oppaBeauty.png";
import LasolBeautyImg from "@assets/images/lasolBeauty.png";
import JMBeautyImg from "@assets/images/jmBeauty.png";
import StarIcon from "@assets/svgs/star.svg?raw";
import LeftArrowIcon from "@assets/svgs/leftArrow.svg?raw";
import RightArrowIcon from "@assets/svgs/rightArrow.svg?raw";

const services = [
  "Spa Center",
  "Massage Center",
  "Nail Salon",
  "Hair Salon",
  "Dental Clinic",
  "Beauty Clinic",
];

const partners = [
  {
    name: "An Di Beauty",
    image: AndiBeautyImg,
    address: "32 Đặng Văn Ngữ, P.12, Q.10, HCM",
    rating: "(48 nhận xét )",
  },
  {
    name: "Oppa Beauty Nails - Hoa Cúc",
    image: OppaBeautyImg,
    address: "39 Hoa Cúc, P.7, Phú Nhuận, HCM",
    rating: "(48 nhận xét )",
  },
  {
    name: "Lasol Beauty Clinic",
    image: LasolBeautyImg,
    address: "32 Đặng Văn Ngữ, P.12, Q.10, HCM",
    rating: "(48 nhận xét )",
  },
  {
    name: "JM Beauty Lounge",
    image: JMBeautyImg,
    address: "1741 Lý Tự Trọng, P.Bến Thành, Q.1, HCM",
    rating: "(48 nhận xét )",
  },
];
---

<div class="md:mx-20">
  <h1 class="text-h2 font-semibold mt-80 text-opacity-pure">
    Đối tác của BeautyBooking
  </h1>
  <p class="text-title mt-4 text-opacity-semi">
    Những nhận xét tuyệt vời từ các khách hàng hài lòng của BeautyBooking
  </p>

  <div class="relative flex gap-3 my-8">
    {
      services.map((service, idx) => {
        const activeClassName =
          idx === 0 ? "bg-primary-700 text-white" : "bg-grey-300";

        return (
          <div
            class={`cursor-pointer px-4 py-[0.81rem] rounded-lg text-opacity-semi text-paragraph ${activeClassName}`}
          >
            {service}
          </div>
        );
      })
    }

    <div class="absolute right-0 flex gap-3">
      <div
        class="cursor-pointer p-3 rounded-full border-[1.5px] border-solid border-grey-400 shadow-xs"
      >
        <Fragment set:html={LeftArrowIcon} />
      </div>

      <div
        class="cursor-pointer p-3 rounded-full border-[1.5px] border-solid border-grey-400 shadow-xs"
      >
        <Fragment set:html={RightArrowIcon} />
      </div>
    </div>
  </div>

  <div class="relative w-full h-[30rem] overflow-hidden">
    <div class="absolute left-2 flex gap-6">
      {
        partners.map(({ name, image, address, rating }) => (
          <div class="w-[23.75rem] h-[26.25rem] rounded-3xl shadow-md bg-white">
            <Image src={image} alt="Partner" class="rounded-t-3xl" />

            <div class="px-5 py-4">
              <h5 class="text-title text-opacity-pure">{name}</h5>
              <p class="text-sub-header text-opacity-neutral mt-1 mb-3">
                {address}
              </p>
              <div class="flex items-center gap-1 text-sub-header">
                <Fragment set:html={StarIcon} />
                <span>4.5</span>
                <p class="text-opacity-neutral">{rating}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>
