---
import StarIcon from "@assets/svgs/star.svg?raw";

const columns = [
  {
    content:
      "Buổi trưa muốn đi gội đầu nhanh 1 chút mà app hơi ít. Hy vọng sẽ có nhiều store có dịch vụ gội đầu, thư giãn nhiều hơn cho các chị em trong buổi trưa nóng nực của trời Sài Gòn",
    owner: "Bita_TT - 05/04/2023",
  },
  {
    content:
      "App có giao diện dễ sử dụng, khá là tiện lợi. Spa nhiệt tình, tư vấn trả lời nhanh, m down app trúng dịp được giảm 10% rất là okela nhaa",
    owner: "RosieSorie - 10/04/2023",
  },
  {
    content: "App tiện lắm nhưng mà hơi ít cơ sở gội đầu bên Bình Thạnh.",
    owner: "RosieSorie - 10/04/2023",
  },
  {
    content:
      "Mình khá thích giao diện và màu sắc của app. Ưng dụng dễ hiểu dễ sử dụng lắm. Mong app phát triển đến tay nhiều người dùng hơn nha. Trong tương lại sẽ có nhiều cải tiến và trải nghiệm đa dạng hơn nữa",
    owner: "Bita_TT - 05/04/2023",
  },
  {
    content:
      "Mình từ Tây Ninh xuống muốn đi gội cái đầu mà ko biết tiệm nào, coi GG 1 núi comment linh tinh. Hên có app biết cái nào gần ks qua làm cái một. Mãi yêu",
    owner: "xthuoongxx - 26/05/2023",
  },
  {
    content:
      "Giao diện trực quan dễ nhìn, rất thích sử dụng app này. Hy vọng sẽ thêm nhiều nhóm hàng để đi trải nghiệm",
    owner: "Des Thuc - 05/04/2024",
  },
];
---

<div class="text-center mt-28 md:mt-60">
  <div class="px-5 md:px-20">
    <h2 class="text-opacity-pure text-h3 font-semibold md:text-h2">
      Trải nghiệm & cảm nhận
    </h2>
    <p class="mt-4 mb-[2.62rem] text-title text-opacity-semi">
      Những nhận xét tuyệt vời từ các khách hàng hài lòng của BeautyBooking
    </p>
  </div>

  <div class="relative px-5 mx-auto mt-[2.62rem] md:mt-16 md:px-0">
    <div class="reviews">
      {
        columns.map(({ content, owner }) => (
          <div class="review">
            <div>{content}</div>

            <div class="relative md:mt-11">
              <div class="flex">
                <span class="mr-2">5.0</span>
                <Fragment set:html={StarIcon} />
                <Fragment set:html={StarIcon} />
                <Fragment set:html={StarIcon} />
                <Fragment set:html={StarIcon} />
                <Fragment set:html={StarIcon} />
              </div>
              <p class="text-sub-header text-opacity-neutral">{owner}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>

<style>
  .reviews {
    @apply flex overflow-auto m-auto gap-5;
    @apply snap-x snap-mandatory md:block md:overflow-visible md:max-w-7xl md:snap-none;

    columns: 3 25.75rem;
  }

  .reviews .review {
    @apply flex flex-col justify-between md:block;
    @apply relative self-start bg-white rounded-3xl pt-10 pb-8 px-8 text-left text-title shadow-md;
    @apply snap-start min-w-[23.75rem] min-h-[26.25rem] md:w-auto md:min-h-fit;

    margin: 0 0 1.25rem;
  }
</style>
