---
import DownloadOn from "./DownloadOn.astro";

import StarIcon from "@assets/svgs/star.svg?raw";

interface Props {
  isMobile?: boolean;
}

const { isMobile } = Astro.props;

const statistics = [
  {
    title: "1,000+",
    description: "Dịch vụ",
  },
  {
    title: "100+",
    description: "Cơ sở",
  },
  {
    description: "80+ Đánh giá",
  },
];

const lastIdx = statistics.length - 1;

const className = isMobile ? "mt-8 md:hidden" : "hidden md:block";
---

<div class={className}>
  <p class="text-title text-opacity-semi text-center md:text-left md:mt-8">
    Không còn những lần đợi chờ, những trải nghiệm dịch vụ không như mong đợi.
    Tải BeautyBooking & đặt lịch làm đẹp ngay hôm nay, những gì bạn cần làm là
    tận hưởng.
  </p>

  <div class="md:mt-11">
    <p class="text-caption text-opacity-neutral font-semibold">Tải ngay</p>

    <DownloadOn className="mt-3 md:justify-start" />
  </div>

  <div class="w-full flex gap-8 mt-6">
    {
      statistics.map(({ title, description }, idx) => (
        <div class="flex items-center gap-8">
          <div>
            <h5 class="text-opacity-pure text-h5">{title}</h5>
            {idx === lastIdx && (
              <div class="flex">
                <Fragment set:html={StarIcon} />
                <Fragment set:html={StarIcon} />
                <Fragment set:html={StarIcon} />
                <Fragment set:html={StarIcon} />
                <Fragment set:html={StarIcon} />
              </div>
            )}
            <p class="text-opacity-neutral text-paragraph">{description}</p>
          </div>

          {idx !== lastIdx && (
            <svg
              width="10"
              height="30"
              viewBox="0 0 10 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                y="4.34589"
                width="10"
                height="1.5"
                transform="rotate(-20 0 4.34589)"
                fill="#C9CED6"
              />
              <rect
                y="10.1756"
                width="10"
                height="1.5"
                transform="rotate(-20 0 10.1756)"
                fill="#C9CED6"
              />
              <rect
                y="16.0054"
                width="10"
                height="1.5"
                transform="rotate(-20 0 16.0054)"
                fill="#C9CED6"
              />
              <rect
                y="21.8351"
                width="10"
                height="1.5"
                transform="rotate(-20 0 21.8351)"
                fill="#C9CED6"
              />
              <rect
                y="27.6648"
                width="10"
                height="1.5"
                transform="rotate(-20 0 27.6648)"
                fill="#C9CED6"
              />
            </svg>
          )}
        </div>
      ))
    }
  </div>
</div>
