---
import DirectionsPDF from "@assets/directions.pdf";
import BBTextIcon from "@assets/svgs/bbText.svg?raw";
import FacebookIcon from "@assets/svgs/facebook.svg?raw";
import InstagramIcon from "@assets/svgs/instagram.svg?raw";
import TelegramIcon from "@assets/svgs/telegram.svg?raw";
import WhatsappIcon from "@assets/svgs/whatsapp.svg?raw";
---

<footer
  class="bg-white"
  style="box-shadow: 16px 0px 32px 0px rgba(0, 0, 0, 0.16);"
>
  <div
    class="flex flex-wrap px-6 pt-[3.25rem] pb-10 gap-8 justify-between mx-auto max-w-[90rem] md:px-12 xl:px-20"
  >
    <!--- BeautyBooking -->
    <div class="max-w-xs">
      <Fragment set:html={BBTextIcon} />

      <div class="w-3 h-[3px] bg-[#697BC0] rounded-sm my-5"></div>

      <div class="flex flex-col gap-2 text-paragraph text-opacity-semi">
        <p>Công ty TNHH GIẢI PHÁP PHẦN MỀM A.N.S</p>
        <p>
          37 Nguyễn Văn Thủ, Phường Dakao, Quận 1, Thành phố Hồ Chí Minh, Việt
          Nam.
        </p>
        <p>
          <span class="text-opacity-neutral">MSDN:</span>
          <a href="#"> 0317596769</a>
        </p>
      </div>
    </div>

    <!--- Về chúng tôi -->
    <div class="text-sub-header">
      <p>Về chúng tôi</p>
      <p class="text-opacity-neutral py-[0.62rem] mt-3 mb-2">
        <a href="/terms-of-use"> Điều khoản sử dụng</a>
      </p>

      <p class="text-opacity-neutral py-[0.62rem]">
        <a href="/privacy-policy">Chính sách bảo mật</a>
      </p>
    </div>

    <!--- Hỗ trợ khách hàng -->
    <div class="text-sub-header">
      <p>Hỗ trợ khách hàng</p>
      <p class="text-opacity-neutral py-[0.62rem] mt-3 mb-2">
        <a href="#"> Trung tâm hỗ trợ</a>
      </p>

      <p class="text-opacity-neutral py-[0.62rem]">
        <a href={DirectionsPDF} download="BeautyBooking - Hướng dẫn sử dụng">
          Hướng dẫn sử dụng</a
        >
      </p>
    </div>

    <!--- Các liên kết khác -->
    <div class="text-sub-header">
      <p>Các liên kết khác</p>

      <div class="flex gap-3 mt-3">
        <a href="https://www.facebook.com/beautybooking.vn/" target="_blank">
          <Fragment set:html={FacebookIcon} />
        </a>
        <a href="https://www.instagram.com/beautybookingvn/" target="_blank">
          <Fragment set:html={InstagramIcon} />
        </a>
        <a href="https://t.me/beautybooking_official" target="_blank">
          <Fragment set:html={TelegramIcon} />
        </a>
        <a
          href="https://chat.whatsapp.com/JhnhsmZDnFVEbFiq474xkR"
          target="_blank"
        >
          <Fragment set:html={WhatsappIcon} />
        </a>
      </div>
    </div>
  </div>

  <div class="border-t border-grey-400">
    <div class="mx-auto max-w-[90rem] px-6 py-8 md:px-20">
      <p class="text-opacity-neutral">
        © 2023 A.N.S SS Co., LTD. All rights reserved.
      </p>
    </div>
  </div>
</footer>
